.badge {
  padding: var(--space-1);
  border-radius: var(--radius-full);
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
}

.badgePrimary {
  color: var(--color-white);
  background-color: var(--color-brand);
}

.badgeWarning {
  color: var(--color-white);
  background-color: var(--color-warning);
}

.badgeError {
  color: var(--color-white);
  background-color: var(--color-error);
}
