.zone {
  border: 2px dashed;
  border-color: var(--color-light-gray);
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.zoneHighlighted {
  color: var(--color-brand);
  border-color: var(--color-brand);
  background-color: color-mix(in srgb, var(--color-brand) 5%, transparent);
}
