:root {
  --color-brand: #fd6542;
  --color-white: #fff;
  --color-black: #111;
  --color-subtle-gray: #f7fafc;
  --color-light-gray: #ccc;
  --color-warning: #ffc126;
  --color-error: #ef4444;

  --space-1: 4px;
  --space-2: 8px;
  --space-4: 16px;

  --text-xs: 12px;
  --text-xs--line-height: calc(1 / 0.75);

  --text-sm: 14px;
  --text-sm--line-height: calc(1.25 / 0.875);

  --text-xl: 20px;
  --text-xl--line-height: calc(1.75 / 1.25);

  --text-xxxl: 30px;
  --text-xxxl--line-height: calc(2.25 / 1.875);

  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-full: calc(infinity * 1px);
}

html,
body {
  min-width: 100vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}

a {
  color: inherit;
  text-decoration: none;
}
