:root {
  --brand: #fd6542;
}

html,
body {
  min-width: 100vw;
}

body {
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
