:root {
  --color-brand: #fd6542;
  --color-white: #fff;
  --clolr-light-gray: #ccc;
  --color-warning: #ffc126;
  --color-error: #ef4444;

  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-full: calc(infinity * 1px);
}

html,
body {
  min-width: 100vw;
}

body {
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
