.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  padding: var(--space-2);
  border-bottom: 1px solid var(--color-light-gray);
}

.tableCell {
  padding: var(--space-2);
  border-bottom: 1px solid var(--color-light-gray);
}
