name: Front End Check

on:
  push:
    paths:
      - '.github/workflows/front-end-check.yml'
      - 'front-end/**'

permissions:
  contents: read

defaults:
  run:
    working-directory: ./front-end

jobs:
  lint:
    strategy:
      matrix:
        node: ['>=22']
        os: [ubuntu-24.04]
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10.11.1+sha512.e519b9f7639869dc8d5c3c5dfef73b3f091094b0a006d7317353c72b124e80e1afd429732e28705ad6bfa1ee879c1fce46c128ccebd3192101f43dd67c667912
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"
          cache-dependency-path: ./front-end/pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install
      - name: Run lint
        run: pnpm lint
  test:
    needs: lint
    strategy:
      matrix:
        node: ['>=22']
        os: [ubuntu-24.04]
    name: test
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10.11.1+sha512.e519b9f7639869dc8d5c3c5dfef73b3f091094b0a006d7317353c72b124e80e1afd429732e28705ad6bfa1ee879c1fce46c128ccebd3192101f43dd67c667912
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"
          cache-dependency-path: ./front-end/pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm test

